nav {
  display: flex;
  // min-height: 10vh;
  min-height: 15vh;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: black;
  }
  button {
    background: transparent;
    padding: 0.5rem;
    // border: 2px solid rgb(65, 65, 65);
    border: 2px solid rgb(31, 1, 1);
    transition: all 0.5s ease;
    cursor: pointer;
    color: rgb(31, 1, 1);
    &:hover {
      // background: rgb(65, 65, 65);
      background: rgb(31, 1, 1);
      color: white;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
